{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body {% if exception_occurred %}
style="background-image: url('https://images.pexels.com/photos/3008509/pexels-photo-3008509.jpeg?auto=compress&cs=tinysrgb&w=1600');"
{% else %}
style="background-image: url('{{ image_url }}');"
{% endif %}>
    
    <div class="container">
        <h1>Weather App</h1>

        <form method="POST" id="searchForm">
            {% csrf_token %}
            <input type="text" name="city" id="cityInput" placeholder="Enter city">
            <button type="submit" class="custom-button">Search</button>
        </form>
        {% if description == 'Unknown' %}
        <h2 style="margin-top: 5rem; color: white; text-align: center;">
            Enter a valid city name!
        </h2> 
        {% else %}
        <div class="weather">
            <div class="left">
                <h1 style="text-align: left;">{{ temp }}° C</h1>
                <h3>{{ city }}</h3>
                <button id="refreshButton" class="custom-button">Refresh</button>
            </div>
            <div class="right">
                <div class="icon">
                    <p><img src="http://openweathermap.org/img/w/{{ icon }}.png" width="120px"></p>
                </div>
                <div class="condition">
                    <p>{{ description }}</p>
                    <p>{{ day }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="cities">
            <h2>Other Cities</h2>
            <ul>
                {% for city in cities %}
                <li><a href="?city={{ city }}">{{ city }}</a></li>
                {% endfor %}
            </ul>
            <p>Coldest city: {{ min_city }}</p>
            <p>Average temp: {{ avg_temp }}°C</p>
        </div>

        <div class="recent-weather">
            <h2>Recent Weather Stats</h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>City</th>
                            <th>Description</th>
                            <th>Temperature (°C)</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="weatherTableBody">
                        {% for weather_stat in recent_weather_stats %}
                        <tr>
                            <td>{{ weather_stat.city }}</td>
                            <td>{{ weather_stat.description }}</td>
                            <td>{{ weather_stat.temp }}</td>
                            <td>{{ weather_stat.date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>
